footer{
    padding: 50px;
    a{
        color: black;
    }
    li{
        margin: 10px 0 10px 0;
    }
    .contenu_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        ul, ul>li>ul{
            list-style: none;
        }
        ul>li>ul{
            margin: 0;
            padding: 0; 
            display: flex;
            justify-content: flex-start;
            li:nth-child(1){
                margin-right: 12px;
            }
            @media screen and (max-width: 715px) {
                justify-content: center;
            }
        }
        @media screen and (max-width: 715px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            gap: 10px;
        }
    }  
    .contenu_droit_footer{
        display: flex;
        justify-content: space-between;
        width: 50%;
        ul{
            list-style-type: none;
        }
        ul:nth-child(1)>li>h5{
            visibility: hidden;
        }
        @media screen and (max-width: 975px) {
            width: 70%;
        }
        @media screen and (max-width: 715px) {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            width: 100%;
            gap: 10px;
        }
    }     
 }