#cd_contenu_index{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    h3{
        margin-bottom: 20px;
    }
    img{
        width: 30%;
    }

    .contenu_index_1{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 20px;
        margin-top: clamp(50px, 10%, 200px);
        img{
            width: 50%;
        }
        .sous_div_contenu_1{
            width: 50%;    
        }
        @media screen and (max-width: 550px) {
            width: 100%;
        }
        @media screen and (max-width: 450px) {
            flex-direction: column;
            align-items: center;
            width: 80%;
            img, .sous_div_contenu_1{
                width: 100%;
            }
        }
    }
    .contenu_index_2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        img{
            width: 50%;
        }
        .image_index_22{
            height: 15vw;
        }
        @media screen and (max-width: 450px) {
            flex-direction: column;
            align-items: center;
            img{
                width: 100%;
            }
            .image_index_22{
                height: 30vw;
            }
        }
    }

    .contenu_index_3{
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 20px;
        .sous_div_contenu_3{
            width: 75%; 
            h3{
                margin-bottom: clamp(30px, 15%, 60px);
            }   
        }
        @media screen and (max-width: 550px) {
            width: 100%;
        }
        @media screen and (max-width: 450px) {
            flex-direction: column;
            align-items: center;
            width: 90%;
            img, .sous_div_contenu_3{
                width: 100%;
            }  
        }
    }
    .contenu_index_4{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        div{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            img{
                width: 100%;
            }
        }
        @media screen and (max-width: 450px) {
            flex-direction: column;
            align-items: center;
            width: 90%;
            img, .sous_div_contenu_1{
                width: 100%;
            }  
        }
        
    }
    .contenu_index_5{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: stretch;
        img{
            width: 50%;
            @media screen and (min-width: 600px) and (max-width: 800px) {
                height: 40vw;
            }
        }
        div{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            gap: 30px;
            padding: clamp(10px, 20%, 75px);
            background-color: #121212;
            color: white;
            h3{
                margin: 0;
            }
            button{
                background-color: white;
                color: black;
                padding: 15px;
            }
        }
        @media screen and (max-width: 800px) {
            flex-direction: column;
            img{
                width: 100%;
            }
        }
        @media screen and (max-width: 550px) {
            width: 100%;
        }
    }
}