.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: clamp(20px, 15%, 200px);
    aside{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: clamp(10px, 5%, 20px);
    }
    article{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: clamp(300px, 60vh, 900px);
        @media screen and (max-width: 770px) {
            height: 40vh; 
        }
            img:nth-child(1){
            max-height: clamp(200px, 40%, 500px);
            max-width: 60vw;
            z-index: 3;
            }
            img:nth-child(n+2){
                position: absolute;
                border: 5px solid white;
                box-shadow: 0 0 50px rgba(0 0 0 / 0.1);
                z-index: 1;
            }
            .img1{
                transform: rotate(-20deg);
                top: calc(30% - 13vw);
                left: 19%;
                width: clamp(100px, 25%, 600px);
                @media screen and (max-width: 1300px) {
                    top: calc(27% - 15vw);
                }
            }
            .img2{
            transform: rotate(15deg);           
            top: calc(44% - 13vw);
            left: 50%;
            width: clamp(100px, 33%, 600px);
            }
            .img3{
                transform: rotate(-15deg);
                bottom: calc(21% - 3vw);
                left: 17%;
                width: clamp(100px, 30%, 600px);
            }
            .img4{
                transform: rotate(12deg);
                right: 24%;
                bottom: calc(5% + 3vw);
                width: clamp(100px, 21%, 400px);
                @media screen and (max-width: 1250px) {
                    bottom: calc(3% + 3vw);
                }
                @media screen and (max-width: 500px) {
                    right: 18%;
                }
            }
            p{
                position: absolute;
                width: 25%;
                font-size: 0.75em;
                top: calc(550px + 5vw);
                left: 16%;
            }
            h1{
                font-size: clamp(70px, 12vw, 165px);
                font-weight: bold;
                clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            }
            .custom_title{
                position: absolute;
                z-index: 2;
                top: calc(60% - 14vw);
                color: rgb(160, 53, 53);
                left: calc(10% + 3vw);
                @media screen and (max-width: 1600) {
                    top: calc(50% - 14vw);
                }
                @media screen and (max-width: 800px) {
                    top: calc(45% - 15vw);
                }
                @media screen and (max-width: 400px) {
                    top: calc(40% - 15vw);
                }
            }
            .af1_title{
                position: absolute;
                text-align: right;
                z-index: 2;
                color: rgb(53, 153, 160);
                bottom: 10%;
                left: 50%;
                clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
                @media screen and (min-width: 500px) and (max-width: 770px) {
                    bottom: 5%;
                }
            }
        aside{
            position: absolute;
            top: 100vh;
        }
    }
}

